[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
sphinx = "*"
sphinx-gallery = "*"
sphinx-rtd-theme = "*"
matplotlib = "*"
numpydoc = "*"
pillow = "*"

[requires]
python_version = "3.8"
